html {
  box-sizing: border-box;
}

h1
h2,
h3,
h4,
h5,
h6,
p  {
  font-weight: normal;
}

.container{
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-xs-1 { flex-basis: 8.3333% }
.col-xs-2 { flex-basis: 16.6666% }
.col-xs-3 { flex-basis: 24.9999% }
.col-xs-4 { flex-basis: 33.3333% }
.col-xs-5 { flex-basis: 41.6665% }
.col-xs-6 { flex-basis: 49.9998% }
.col-xs-7 { flex-basis: 58.3331% }
.col-xs-8 { flex-basis: 66.6664% }
.col-xs-9 { flex-basis: 74.9997% }
.col-xs-10 { flex-basis: 83.3333% }
.col-xs-11 { flex-basis: 91.6663% }
.col-xs-12 { flex-basis: 100% }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  
  .col-sm-1 { flex-basis: 8.3333% }
  .col-sm-2 { flex-basis: 16.6666% }
  .col-sm-3 { flex-basis: 24.9999% }
  .col-sm-4 { flex-basis: 33.3333% }
  .col-sm-5 { flex-basis: 41.6665% }
  .col-sm-6 { flex-basis: 49.9998% }
  .col-sm-7 { flex-basis: 58.3331% }
  .col-sm-8 { flex-basis: 66.6664% }
  .col-sm-9 { flex-basis: 74.9997% }
  .col-sm-10 { flex-basis: 83.3333% }
  .col-sm-11 { flex-basis: 91.6663% }
  .col-sm-12 { flex-basis: 100% }
}
  
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  
  .col-md-1 { flex-basis: 8.3333% }
  .col-md-2 { flex-basis: 16.6666% }
  .col-md-3 { flex-basis: 24.9999% }
  .col-md-4 { flex-basis: 33.3333% }
  .col-md-5 { flex-basis: 41.6665% }
  .col-md-6 { flex-basis: 49.9998% }
  .col-md-7 { flex-basis: 58.3331% }
  .col-md-8 { flex-basis: 66.6664% }
  .col-md-9 { flex-basis: 74.9997% }
  .col-md-10 { flex-basis: 83.3333% }
  .col-md-11 { flex-basis: 91.6663% }
  .col-md-12 { flex-basis: 100% }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

/* Логотип */
.logo {
  display: flex;
  align-self: center;
  height: 40px;
  justify-content: flex-start;
}

/* Время и адрес доставки */
.delivery{ 
  display: none;
}

@media (min-width: 768px) { 
  .delivery{ 
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) { 
  .delivery{ 
    justify-content: flex-end;
  }
}

.delivery-time {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 63px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-align: center;
  text-align-last: center;
  font-size: 13px;
  color: #1D1D1D;
  line-height: 24px;
  margin-top: 8px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .delivery-time {
    width: 57px;
    margin-top: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 992px) {
  .delivery-time {
    font-size: 16px;
    width: 65px;
  }
}

.delivery-text {
  display: inline-flex;
  margin: 0px 9px 0px 9px;
  color: #626262;
}

@media (min-width: 768px) {
  .delivery-text {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .delivery-text {
    font-size: 16px;
  }
}

.delivery-address {
  background: url(./images/stores/location.svg) no-repeat 12px;
  height: 36px;
  width: 223px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #1D1D1D;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px; 
  margin-top: 8px;
}

@media (min-width: 768px) {
  .delivery-address {
    font-size: 13px;
    width: 179px;
    padding-left: 36px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .delivery-address {
    font-size: 16px;
    width: 256px;
    padding-left: 36px;
  }
}

.delivery-mobile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}


@media (min-width: 768px) {
  .delivery-mobile{
    display: none;
  }
}

.delivery-label {
  display: flex;
  flex-direction: column;
  color: #626262;
  font-size: 11px;

}

/* Кнопки: вход, регистрация, корзина */
.header-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons-size {
  width: 72px;
  height: 40px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 13px; 
}

@media (min-width: 768px) {
  .header-buttons-size {
    font-size: 13px;
    line-height: 24px;
    width: 80px;
  }
}

.button-sign-in{
  background: #fff;
  border: 1px solid #E0E0E0;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .button-sign-in {
    margin-right: 16px;
  }
}

.button-register{
  background: #262626;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 768px) {
  .button-register {
    margin-right: 27px;
  }
}

.button-basket{
    width: 19px;
    height: 23px;
    background: url(./images/stores/basket.svg) no-repeat;
    border: none;
    display: none;
}
  
@media (min-width: 768px) {
  .button-basket{ 
    display: flex;
  }
}

/* Поле поиска */
.restaurant-search-input {
  width: 100%;
  padding-left: 32px;
  margin-top: 38px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  font-size: 13px;
  line-height: 24px;
  background: url(./images/stores/search.svg) no-repeat 0px;
}

@media (min-width: 768px) {
  .restaurant-search-input {
    font-size: 16px;
  }
}

.line-section {
  width: 100%;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 15px;
}
  
.restaurant-list-title {
  line-height: 34px;
  font-size: 22px;
  color: #1D1D1D;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .restaurant-list-title {
    margin-top: 56px;
  }
}

.restaurant-photo {
  min-height: 250px;
  width: 100%;
}

@media (min-width: 768px) {
  .restaurant-photo {
    min-height: 256px;
    width:100%; 
  }
}

.restaurant-name {
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
  margin: 16px 0px 4px 0px;
}

.restaurant-category {
  line-height: 21px;
  font-size: 14px;
  color: #626262;
  margin: 0px 0px 4px 0px;
}

.restaurant-time {
  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
  margin: 0;
  margin-bottom: 36px;
}

footer {
  margin-top: 32px;
  background: #262626;
}

@media (min-width: 992px) {
  footer {
    margin-top: 64px;
  }
}

.logo-footer {
  padding-top: 56px;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.footer-line {
  width: 100%;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin: 0px;
}

.footer-language {
  margin-top: 32px;
  background: #3B3B3B;
  width: 173px;
}

@media (min-width: 768px) {
  .footer-language {
    width: 176px;
  }
}

@media (min-width: 992px) {
  .footer-language {
    width: 227px;
  }
}

.footer-select {
  display: flex;
  background: url(./images/stores/world.svg) no-repeat 18px,
  url(./images/stores/shape.svg) no-repeat 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  padding: 13px 0 12px 48px;
  width: 173px;
  color: #fff;
  border-radius: 2px;
  border: none;
}


@media (min-width: 768px) {
  .footer-select {
    width: 176px;
    background: url(./images/stores/world.svg) no-repeat 18px, url(./images/stores/shape.svg) no-repeat 153px;
  }
}

@media (min-width: 992px) {
  .footer-select {
    width: 227px;
    background: url(./images/stores/world.svg) no-repeat 18px, url(./images/stores/shape.svg) no-repeat 205px;
  }
}

.hashtag {
  margin-top: 32px;
  font-size: 16px;
  color: #FFFFFF;
}

.hashtag-green {
  color: #49A144;
  font-size: 16px;
}

.footer-social {
  display: flex;
}

.social-icon {
  display: inline-flex;
  width: 16px;
  margin-right: 20px;
}

.footer-menu-first {
  margin-top: 40px;
}

.footer-menu-last {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .footer-menu-last {
    margin-top: 40px;
    margin-bottom: 48px;
  }
}

.menu-link {
  display: flex;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0px 0px 23px 0px;
  text-decoration: none;
}

.footer-apps {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .footer-apps {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.applestore-icon {
  width: 107px;
  height: 36px;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .applestore-icon {
    width: 121px;
    height: 40px;
    margin-right: 40px;
  }
}

.googleplay-icon {
  width: 124px;
  height: 36px;
}

@media (min-width: 768px) {
  .googleplay-icon {
    width: 135px;
    height: 40px;
  }
}

.footer-copyright {
  display: flex;
  color: #FFFFFF;
  font-size: 11px;
}

@media (min-width: 768px) {
  .footer-copyright {
    margin: 40px 0;
  }
}

.footer-copyright-top {
  margin-top: 40px;
}

.footer-copyright-bottom {
  margin-bottom: 40px;
}

.scroll-up {
  width: 64px;
  height: 64px;
  position: fixed;
  background: #59BD5A url(./images/stores/arrow.svg) no-repeat center;
  right: 16px;
  bottom: 24px;
}

@media (min-width: 768px) {
  .body-scroll {
    width: 80px;
    height: 80px;
  }
}

