.container{
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
  
@media (min-width: 992px) {
  .container {
    width: 972px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-xs-1 { flex-basis: 8.3333% }
.col-xs-2 { flex-basis: 16.6666% }
.col-xs-3 { flex-basis: 24.9999% }
.col-xs-4 { flex-basis: 33.3333% }
.col-xs-5 { flex-basis: 41.6665% }
.col-xs-6 { flex-basis: 49.9998% }
.col-xs-7 { flex-basis: 58.3331% }
.col-xs-8 { flex-basis: 66.6664% }
.col-xs-9 { flex-basis: 74.9997% }
.col-xs-10 { flex-basis: 83.3333% }
.col-xs-11 { flex-basis: 91.6663% }
.col-xs-12 { flex-basis: 100% }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  
  .col-sm-1 { flex-basis: 8.3333% }
  .col-sm-2 { flex-basis: 16.6666% }
  .col-sm-3 { flex-basis: 24.9999% }
  .col-sm-4 { flex-basis: 33.3333% }
  .col-sm-5 { flex-basis: 41.6665% }
  .col-sm-6 { flex-basis: 49.9998% }
  .col-sm-7 { flex-basis: 58.3331% }
  .col-sm-8 { flex-basis: 66.6664% }
  .col-sm-9 { flex-basis: 74.9997% }
  .col-sm-10 { flex-basis: 83.3333% }
  .col-sm-11 { flex-basis: 91.6663% }
  .col-sm-12 { flex-basis: 100% }
}
  
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  
  .col-md-1 { flex-basis: 8.3333% }
  .col-md-2 { flex-basis: 16.6666% }
  .col-md-3 { flex-basis: 24.9999% }
  .col-md-4 { flex-basis: 33.3333% }
  .col-md-5 { flex-basis: 41.6665% }
  .col-md-6 { flex-basis: 49.9998% }
  .col-md-7 { flex-basis: 58.3331% }
  .col-md-8 { flex-basis: 66.6664% }
  .col-md-9 { flex-basis: 74.9997% }
  .col-md-10 { flex-basis: 83.3333% }
  .col-md-11 { flex-basis: 91.6663% }
  .col-md-12 { flex-basis: 100% }
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}


/* Логотип */
.logo {
  display: flex;
  align-self: center;
  height: 40px;
  margin-top: 1px;
  justify-content: flex-start;
}

/* Время и адрес доставки */
.delivery{ 
  display: none;
}

@media (min-width: 768px) { 
  .delivery{ 
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: 992px) { 
  .delivery{ 
    justify-content: flex-end;
  }
}

.delivery-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delivery-time {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 63px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-align: center;
  text-align-last: center;
  font-size: 13px;
  color: #1D1D1D;
  line-height: 24px;
}

@media (min-width: 768px) {
  .delivery-time {
    width: 57px;
  }
}

@media (min-width: 992px) {
  .delivery-time {
    font-size: 16px;
    width: 65px;
  }
}

.delivery-text {
  display: inline-flex;
  margin: 0px 9px 0px 9px;
  color: #626262;
}

@media (min-width: 768px) {
  .delivery-text {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .delivery-text {
    font-size: 16px;
  }
}

.delivery-address {
  background: url(./images/stores/location.svg) no-repeat 12px;
  width: 223px;
  height: 36px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #1D1D1D;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px; 
  margin-top: 1px;
}


@media (min-width: 768px) {
  .delivery-address {
    font-size: 13px;
    width: 179px;
    padding-left: 36px;
  }
}

@media (min-width: 992px) {
  .delivery-address {
    font-size: 16px;
    width: 256px;
    padding-left: 36px;
  }
}


/* Кнопки: вход, регистрация, корзина */
.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons-size {
  width: 72px;
  height: 40px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 13px; 
}

@media (min-width: 768px) {
  .header-buttons-size {
    font-size: 13px;
    line-height: 24px;
    width: 80px;
  }
}

.button-sign-in{
  background: #fff;
  border: 1px solid #E0E0E0;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .button-sign-in {
    margin-right: 16px;
  }
}

.button-register{
  background: #262626;
  color: #FFFFFF;
  border: none;

}

@media (min-width: 768px) {
  .button-register {
    margin-right: 27px;
  }
}

.button-basket{
    width: 19px;
    height: 23px;
    background: url(./images/stores/basket.svg) no-repeat;
    border: none;
    display: none;
}
  
@media (min-width: 768px) {
  .button-basket{ 
    display: flex;
  }
}

/* Поле поиска */
.restaurant-search-input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 32px;
  margin-top: 38px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  font-size: 13px;
  line-height: 24px;
  background: url(./images/stores/search.svg) no-repeat 0px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .restaurant-search-input {
    font-size: 16px;
  }
}

hr {
  width: 100%;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
}
  